.champ-grid{
    min-height: 500px;
    height: 600px;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    position: relative;
    border: 3px solid transparent;

	  -moz-border-image: -moz-linear-gradient(top, #dac7a4 0%, #b5904a 100%);
	  -webkit-border-image: -webkit-linear-gradient(top, #dac7a4 0%, #b5904a 100%);
	  border-image: linear-gradient(to bottom, #dac7a4 0%, #b5904a 100%);

      border-image-slice: 1;
      
        z-index: 1;
        justify-items: center;

        padding: 20px;
}

.champ-grid::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;    
    opacity: .8;
    z-index: -1;
}

.grid-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 30px;
}